<div id="container">


    <div class="product-details">


        <h1>Fernando Simon</h1>


        <span class="hint-star star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>



        <p class="information">" En vez de una camara se llevo un movil, le doy tres estrellas porqué parecía buena
            gente "</p>







    </div>



    <div class="product-image">

        <img src="../../../../assets/images/formulario/pr2.jpg" alt="Omar Dsoky">



    </div>

    <div class="product-details">


        <h1>Elena Díaz</h1>

        <span class="hint-star star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </span>



        <p class="information">" Gran profesional "</p>






    </div>



    <div class="product-image">

        <img src="../../../../assets/images/formulario/pr2.jpg" alt="Omar Dsoky">



    </div>

    <div class="product-details">


        <h1>Patricia Conntreras</h1>

        <span class="hint-star star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>



        <p class="information">" Lo contratamos para la comunión de mi hijo, y las fotos salieron algo borrosas, ya que
            llevaba una camara analogica, se ha quedado en el siglo pasado "</p>






    </div>



    <div class="product-image">

        <img src="../../../../assets/images/formulario/pr2.jpg" alt="Omar Dsoky">



    </div>



</div>