@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


$titleFont: 'Dancing Script', cursive;
$normalFont: 'Montserrat', sans-serif;
$secondTitle:'Montserrat', sans-serif;


$colorPrimario: rgb(32, 31, 31);
$colorSecundario:rgb(255, 255, 255);
$colorTerciario:#5A6265;
$colorAzul: #608494;

/* #587886;
 */
$card-width:  350px;
$card-height: 500px;
$h-color:     #9CC9E3;
$yellow:      #D0BB57;
$txt-color:   #DCE3E7;
