@import 'variables';

*{
    background-image:url( "../../../../assets/images/formulario/pagwebpr.jpg");
}
.container{
    text-align: center;
    
    height: 600px;
    width: 80%;
    font-family:$secondTitle ;
   



}

