<div class="container">

    <div class="mini">
        <h1>-{{fotografo.nombre}} {{fotografo.apellidos}}-</h1>
        <p>Fotografo profesional</p>

    </div>
    <div class="presentacion">
        <h1>BIOGRAFÍA</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, ullam temporibus ea at deserunt illo!
            Atque nihil voluptas eaque expedita distinctio quaerat vero excepturi tenetur commodi? Velit dolorem
            accusantium deleniti.
        </p>

        <img src="https://cdn.ticbeat.com/src/uploads/2017/07/mejores-apps-editar-fotos-movil-810x540.jpeg" alt="">
    </div>
</div>