<app-navbar></app-navbar>
<main>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <h1 class="form-titulo">Registro</h1>

        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="" class="form-control" formControlName="nombre">

        </div>


        <div class="form-group">
            <label for="">Apellidos</label>
            <input type="text" id="" class="form-control" formControlName="apellidos">


        </div>


        <div class="form-group">
            <label for="">Dirección</label>
            <input type="text" id="" class="form-control" formControlName="direccion">


        </div>


        <div class="form-group">
            <label for="">Email</label>
            <input type="text" id="" class="form-control" formControlName="email">


        </div>



        <div class="enviar">
            <input type="submit" value="Enviar" class="btn btn-info btn-block">
        </div>


    </form>
</main>