<div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover"
    style="width: 360px; overflow: hidden; border-radius: 1px;">
    <img src="https://images.pexels.com/photos/442559/pexels-photo-442559.jpeg?auto=compress&cs=tinysrgb"
        alt="Man with backpack" class="d-block w-full">

    <div class="px-2 py-2">


        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
            Contacto
        </h1>


        <ul class="mb-1">
            <li> E-mail: <a href="mailto">{{fotografo?.email}}</a></li>
            <li> Teléfono:+34 67898992</li>
        </ul>



    </div>





</div>