<main [ngStyle]="mainStyle">
    <nav>
        <div class="discover">
            <span (click)="openNav()">&#9776; Descubrir</span>
        </div>

        <div id="mySidenav" class="sidenav" [ngStyle]="sideNavStyle">
            <a class="closebtn" (click)="closeNav()">&times;</a>
            <form>
                <div class="buscarNombre">
                    <label class="form-check-label">Buscar:</label>
                    <input type="text" id="buscar">
                </div>

                <div class="seleccionarCiudad">
                    <label class="form-check-label">Ubicación:</label>
                    <select class="form-control">
                        <option selected>Selecciona una ciudad</option>
                    </select>
                </div>


                <div id="filtros">
                    <p>Tipo de fotografía</p>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="bodas" (change)="onChange($event)">
                        <label class="form-check-label">Bodas</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="eventosnocturnos"
                            (change)="onChange($event)">
                        <label class="form-check-label">Eventos nocturnos</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="producto" (change)="onChange($event)">
                        <label class="form-check-label">Producto</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="publicidad" (change)="onChange($event)">
                        <label class="form-check-label">Publicidad</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="paisaje" (change)="onChange($event)">
                        <label class="form-check-label">Paisaje</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="retrato" (change)="onChange($event)">
                        <label class="form-check-label">Retrato</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="modelos" (change)="onChange($event)">
                        <label class="form-check-label">Modelos</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="artistica" (change)="onChange($event)">
                        <label class="form-check-label">Artística</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="documental" (change)="onChange($event)">
                        <label class="form-check-label">Documental</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="deportes" (change)="onChange($event)">
                        <label class="form-check-label">Deportes</label>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Filtrar" (click)="onClick()">
                <input type="reset" class="btn btn-primary" value="Mostrar todos" (click)="deleteFiltros($event)">


            </form>


            <!-- <a href=" #">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a> -->
        </div>

        <h1 class="title" [routerLink]="['/']"> Photopro </h1>
        <a [routerLink]="['/login']"><i class="fas fa-user"></i>Log In</a>
    </nav>

    <section>
        <div class="principal">
            <div class="fotografo col-6 col-md-4 col-lg-3" *ngFor="let fotografo of arrFotografos"
                [routerLink]="['/descubrir', fotografo.id]">
                <div>
                    <p class="nombre">{{fotografo.nombre}} {{fotografo.apellidos}}</p>
                    <i class="far fa-eye"></i>
                    <p>Madrid</p>
                </div>


                <figure>
                    <img src="https://www.dzoom.org.es/wp-content/uploads/2007/02/canon-mejorar-fotografo-consejos-principiantes-novatos-810x540.jpg"
                        alt="">
                </figure>
            </div>

        </div>
    </section>
</main>