<app-navbar></app-navbar>
<main>
    <div class="imagen-container">
    </div>

    <div class="perfil-cliente">

        <div class="bienvenida">
            <p>¡Bienvenid@ {{cliente?.nombre}}!</p>
        </div>

        <div class="opciones">
            <a [routerLink]="['/cliente/datos-personales']">Tus datos personales</a>
        </div>
        <div class="opciones">
            <a [routerLink]="['/cliente/password']">Cambiar la contraseña</a>
        </div>
        <div class="opciones">
            <a [routerLink]="['/cliente/favoritos']">Tus fotógrafos favoritos</a>
        </div>
        <div class="opciones">
            <a href="">Tus reservas</a>
        </div>
        <div class="opciones">
            <a [routerLink]="['cliente/descubrir']">Salir</a>
        </div>
        <div class="opciones">
            <a [routerLink]="['cliente/descubrir']" (click)="onClick()">Eliminar cuenta</a>
        </div>

    </div>


    <router-outlet></router-outlet>

</main>