<main>
    <div class="imagen-container">
    </div>

    <div class="perfil-cliente">

        <div class="bienvenida">
            <p>¡Bienvenid@ a tu cuenta!</p>
        </div>

        <div class="opciones">
            <a href="">Tus datos personales</a>
        </div>
        <div class="opciones">
            <a href="">Tus fotógrafos favoritos</a>
        </div>
        <div class="opciones">
            <a href="">Cambiar contraseña</a>
        </div>
        <div class="opciones">
            <a [routerLink]="['/descubrir']">Salir</a>
        </div>

    </div>


</main>