@import 'variables';

main {
    display: flex;
}

.imagen-container {
    width: 50%;
    background-image: url(../../../assets/images/perfil-cliente/imagenCliente.jpg);
    background-size: cover;
    background-position:  center center;
    height: 89vh;
}

.perfil-cliente {
    width: 50%;
    display: block;
    align-content: flex-end;
    div {
        border-top: $colorPrimario 5px solid;
        border-left: $colorPrimario 3px solid;
    }
    .bienvenida {
        border-top: 0;
        font-family: $titleFont;
        background-color: $colorAzul;
        color: $colorPrimario;
        padding: 10px;
        font-size: 2.8em;
        p {
            text-align: center;
        }
    }

    .opciones {
        font-family: $normalFont;
        background-color: $colorAzul;
        height: 11.5vh;
            padding-top: 25px;
            font-size: 1.5em;
            padding-left: 5%;
        a {
            text-decoration: none;
            color: $colorPrimario;
            &:hover {
                color: white;
            }
        }
    }

}





