<main>
    <app-navbar></app-navbar>

    <!-- <nav>
        <p class="subtitle"> ¡Encuentra tu fotógrafo!</p>
        <h1 class="title"> Photopro </h1>
        <a class="fuentes" [routerLink]="['/login']"><i class="fas fa-user"></i>Log In</a>
    </nav> -->

    <div class="containered">
        <div class="enlaces">
            <div id="usuario">
                <a [routerLink]="['/descubrir']">Busco Fotógrafo</a>
            </div>
            <div id="fotografo">
                <a [routerLink]="['/registro_fotografo']">Soy Fotógrafo</a>
            </div>
        </div>
    </div>

</main>