.container{


    display: grid;
    
    color: rgb(21, 58, 82);
    padding: 20px;
    font-weight: lighter;
    font-family:unset;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
}
.blog img{
    display: grid;
      height: 200px;
      width: 300px;
      padding: 30px;
      
      
  }