<!-- <div class="container">
    <form action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
    </form>

</div>
 -->
<form class="form-group" (ngSubmit)="onSubmit()">

    <input type="file" class="form-control" name="imagen" (change)="onChange($event)">

    <input type="submit" value="Enviar">




    <div class="container">
        <div class="producto" *ngFor="let imagen  of imagenes">
            <div class="contenedor">

                <img class="img" [src]="'http://localhost:3000/api/fotografos/private/imagenes' + imagen.imagen">

            </div>
        </div>
    </div>
</form>