
.imagen{
    height: 200px;
    background-size: cover;
    background-position: center;
}

 .container{
     padding: 20px;
     .btn-outline-dark{
        margin-top: 5px;
        height: 35px;
    }

}