@import 'variables';


form{
  position: relative;
  width: 69%;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 25px;
  margin-top: auto;
  margin-left: 17%;
  font-family:$secondTitle ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
    .btn{
        background-color:#587886;
        border:none;
        grid-column-start: 2;
        grid-column-end:3;
        height: 35px;
        margin-top: 20px;
    }
  
  
    
}
form .form-group{
    font-family: $colorTerciario;
    font-family: $colorTerciario;
    padding: 10px;
}



 h1 {
    width: 50vw;
    margin-top: 7%;
    margin-left: 26% ;
    background-color:#587886;
    color: white;
    font-size: 25px;
    justify-content: center;
    font-weight: 200px;
    text-align: center;
    font-family: $secondTitle;
  } 







.carousel{
  background-position: center ;
  background-size: cover;
 
  width: 100vw;
  opacity: 0.5;
  
  position: absolute;
  top:-50px;
    
   
  opacity: 0.7;
  z-index: -2;
  img{
    height: 100vh;
  }
}


