@import 'reset';
@import 'variables';

/* 

.container{
    max-width:1080px;
    background: cover;
    box-shadow: 0 1px 1px rgba(50,50,50,.40);
    background: white;
    border-radius:8px;
    margin:50px auto;

  } */

  .contenedor h1{  
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $normalFont;
    font-size: 20px; 

  }
  .contenedor .ubicacion{
    font-family: $normalFont;
    font-size: 10px;
  }
  
  .imagen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin:10px;
    margin-left:400px;
    margin-right: -25px; */
  }

/*   background-size: cover;
 
  width: 100%;
  opacity: 0.5;
  
  position: absolute;
   top:-50px;
    
   
  opacity: 0.7;
  z-index: -2; */
  .imagen a{
    box-shadow: 0 4px 2px rgba(50,50,50,.50);
    width:200px;
    height: 200px;
    border:7px solid #fff;

    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/USAF_photographer.jpg/1200px-USAF_photographer.jpg');
    background-size:cover;
    text-align: center;
    display: block;
  }
  .contenedor{
    background:white;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image:url('../../../assets/images/formulario/3.jpg') ;
    background-size:cover;
    border: solid 0.2px;
    
    text-align:center;
    color:#fff;
  }

  .botonera{
    width: 52%;
    margin: 0 auto;
    margin-left: 30%;
   
  }
  .btn-secondary{
    background-color: whitesmoke;
    color: black;
    border: none;
  }

  a{
    display: flex;
    
  }

  .fab{
    padding: 20px;
    font-size: 30px;
  
    
  }

  .fas{
    padding: 20px;
    font-size: 30px;
  }

  .far{
    padding: 20px;
    font-size: 30px;
    color: brown;
    
  }
  