<header>

    <div class="container">
        <div class="imagen">
            <a href=""><img src="" alt=""></a>
        </div>
        <div class="nombre">
            <h1>Antonio Galan</h1>
        </div>
        <div class="ubicacion">
            <h3></h3>
        </div>
        <div class="botones">
            <button><a href="">Colección</a></button>
            <button><a href="">Bio</a></button>
            <button><a href="">Reseñas</a></button>
            <button><a href="">Contacto</a></button>
        </div>


    </div>
    <!-- foto portasa, foto perfil, y portfolio, bio reseñas, mensajes -->
    <!-- tres componentes mas -->
</header>
<main>

    <div class="container">
        <div></div>
        <div></div>
        <div></div>

    </div>
    <!--  fotografias, bio, reseñas y mensajes -->
</main>