@import 'variables';



form{
    position: relative;
    
    position: relative;
  width: 30%;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 25px;
  margin-top: 4%;
  margin-left: 30%;
  font-family: $normalFont;
 
    .btn{
        background-color:#587886;
        border:none;
    }
  

    
}
form .form-group{
    font-family: $secondTitle;
}



 h1 {
    width: 100%;
    background-color:#587886;
    color: white;
    font-size: 25px;
    justify-content: center;
    font-weight: 200px;
    text-align: center;
    font-family: $secondTitle;




}


.carousel{

  background-size: cover;
 
  width: 100%;
  opacity: 0.5;
  
  position: absolute;
   top:-50px;
    
   
  opacity: 0.7;
  z-index: -2;
  .slide{
    background-size: cover;
  }
}




