<h1 class="form-titulo">Registro</h1>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">



    <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" id="" class="form-control" formControlName="nombre">

        <p class="error" *ngIf="formulario.get('nombre').hasError('required')&& formulario.get('nombre').touched">
            *El
            campo
            nombre es
            requerido</p>
    </div>


    <div class="form-group">
        <label for="">Apellidos</label>
        <input type="text" id="" class="form-control" formControlName="apellidos">
        <p class="error" *ngIf="formulario.get('apellidos').hasError('required')&& formulario.get('apellidos').touched">
            *El
            campo
            nombre es
            requerido</p>

    </div>

    <p class="error" *ngIf="formulario.get('apellidos').hasError('minlength')&& formulario.get('apellidos').touched">
        *la longitud mayor de 4
    </p>
    <div class="form-group">
        <label for="">Dirección</label>
        <input type="text" id="" class="form-control" formControlName="direccion">
        <p class="error" *ngIf="checkValidator('email','pattern')">*Formato incorrecto</p>

    </div>


    <div class="form-group">
        <label for="">Email</label>
        <input type="text" id="" class="form-control" formControlName="email">
        <p class="error" *ngIf="checkValidator('email','pattern')">*Formato incorrecto</p>

    </div>



    <div class="form-group">
        <label for="">Contraseña</label>
        <input type="password" id="" class="form-control" formControlName="password">
        <p class="error" *ngIf="checkValidator('password','pattern')">*El formato de la contraseña es incorrecto
        </p>
    </div>


    <div class="form-group">
        <label for="">Repite la contraseña</label>
        <input type="password" id="" class="form-control" formControlName="password_2">
        <p class="error" *ngIf="formulario.hasError('passwordvalidator')">Los campos de contraseña deben
            coincidir
        </p>
    </div>


    <p class="selecciona">Selecciona las categorías fotográficas:</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="bodas" formControlName="bodas">
        <label class="form-check-label" for="inlineCheckbox1">Bodas</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="eventosnocturnos"
            formControlName="eventosnocturnos">
        <label class="form-check-label" for="inlineCheckbox2">Eventos nocturnos</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="producto" formControlName="producto">
        <label class="form-check-label" for="inlineCheckbox2">Producto</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="publicidad"
            formControlName="publicidad">
        <label class="form-check-label" for="inlineCheckbox2">Publicidad</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="paisaje" formControlName="paisaje">
        <label class="form-check-label" for="inlineCheckbox2">Paisaje</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="retrato" formControlName="retrato">
        <label class="form-check-label" for="inlineCheckbox2">Retrato</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="modelos" formControlName="modelos">
        <label class="form-check-label" for="inlineCheckbox2">Modelos</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="artistica"
            formControlName="artistica">
        <label class="form-check-label" for="inlineCheckbox2">Artística</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="documental"
            formControlName="documental">
        <label class="form-check-label" for="inlineCheckbox2">Documental</label>
    </div>



    <input type="submit" value="Enviar" class="btn btn-info btn-block">


</form>



<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../../assets/images/formulario/2.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/images/formulario/3.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/images/formulario/4.jpg" alt="Third slide">
        </div>
    </div>
</div>
<app-footer></app-footer>