@import 'variables';

form{
    z-index: 999;
    position: relative;
  width: 50%;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 25px;
  margin-top: 50%;
  margin-left: 30%;
  font-family: $normalFont;
  

    
}
form .form-group{
    font-family: $secondTitle;
}



 h1 {
    width: 100%;
    background:#587886;
    color: white;
    font-size: 25px;
    justify-content: center;
    font-weight: 200px;
    text-align: center;
    font-family: $secondTitle;



}



.slidershow{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    opacity: 0.5;
        
    
}

.middle{
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
width: 50px;
height: 10px;
border: 2px solid #ffff;
margin: 6px;
cursor: pointer;
transition:0.4s ;
}
.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;

}



.slides{
    width: 100%;
    height: 100%;
    display: flex;
}

.slide img{
  width:100px;
}

#r1:checked ~.s1{
    margin-left: 0;
}

#r2:checked ~.s1{
    margin-left: -20%;
}

#r3:checked ~.s1{
    margin-left: -40%;
}
