<div class="contenedor">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <h1 class="form-titulo">Accede a tu cuenta</h1>

        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="enviar">
            <input type="submit" value="Enviar" class="btn btn-info btn-block" [disabled]="formulario.valid">
        </div>
    </form>
</div>

<!-- <video src=".../../../../../assets/images/video/video.mp4"></video> -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../../assets/images/formulario/pr3.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/images/formulario/pagwebpr.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/images/formulario/pr2.jpg" alt="Third slide">
        </div>
    </div>
</div>