<app-navbar></app-navbar>
<div class="contenedor">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <h1 class="form-titulo">Accede a tu cuenta</h1>

        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="registro" id="inlineRadio1" value="opcionCliente"
                formControlName="registro">
            <label class="form-check-label" for="inlineRadio1">Busco fotografo</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="registro" id="inlineRadio2" value="opcionFotografo"
                formControlName="registro">
            <label class="form-check-label" for="inlineRadio2">Soy fotografo</label>
        </div>

        <div class="enviar">
            <input type="submit" value="Enviar" class="btn btn-info btn-block">
            <p *ngIf="errorMessage"> *Usuario y/o contraseña incorrectos</p>
        </div>


    </form>
</div>

<!-- <video src=".../../../../../assets/images/video/video.mp4"></video> -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../../assets/images/formulario/pr3.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/images/formulario/pagwebpr.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/images/formulario/pr2.jpg" alt="Third slide">
        </div>
    </div>
</div>
<app-footer></app-footer>